.dragContainer {
  top: 0;
  width: 100%;
  height: 25em;
  display: flex;
  position: absolute;

  .dragBorder {
    top: 0.1%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    text-align: center;
    position: absolute;
    border: dashed grey 4px;
    background-color: rgba(255, 255, 255, 0.8);

    .customFileUpload {
      z-index: 10000;
      cursor: pointer;
      margin-top: 2em;
      padding: 6px 12px;
      text-align: center;
      position: relative;
      display: inline-block;
      border: 1px solid #ccc;
      background-color: #4180c5;

      input[type="file"] {
        display: none;
      }
    }

    .dragModal {
      top: 50%;
      right: 0;
      left: 0;
      color: grey;
      font-size: 3rem;
      text-align: center;
      position: absolute;
    }
  }
}
